:root {
  --primary-color: #4d84eb;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
main {
  max-width: 74%;
  margin: 0 auto;
  font-family: "Mukta";
  color: #0a0c10;
}
nav ul {
  text-align: left;
  margin: 0;
  padding: 30px;
}
nav li {
  display: inline;
  list-style: none;
}

nav a:hover {
 
  transition: all 100ms ease-in-out;
}

nav li.active a,
nav a:hover {
color: var(--primary-color);
}

.logo {
  height: auto;
  max-width: 120px;
}

p {
  font-size: 20px;
  font-weight: 300;
  color: #0a0c10;
}

hr {
  border: none;
  border-top: 2px dotted;
  height: 2px;
}

.tools span {
  font-weight: 500;
}

pre {
  overflow: auto;
}

var {
  color: darkblue;
  font-style: normal;
  font-weight: 500;
}

var.comment {
  color: #0a0c10;
  opacity: 0.4;
}
.expertise-icons img {
  width: 70px;
}

.request {
  font-size: 14px;
  color: #4d84eb;
}

li {
  font-size: 20px;
}

.launch-link {
  background: var(--primary-color);
  font-size: 16px;
  color: white;
  border-radius: 4px;
  padding: 14px;
  text-decoration: none;
  margin-bottom: 20px;
}

.launch-link:hover {
  background-color: #246bce;
  transition: 0.7s;
  box-shadow: var(--box-shadow);
}

.links {
  max-width: 48%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
a {
  color: #0a0c10;
  text-decoration: none;
}

.contacts p,
.contacts span {
  font-size: 20px;
}

.phone-img {
  height: auto;
  width: 80px;
}

.coded-by {
  display: block;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  margin-bottom: 48px;
}
@media (max-width: 1200px) {
  main {
    max-width: 80%;
  }
}

@media (max-width: 1088px) {
  .logo {
    width: 60px;
  }
  .expertise-icons img {
    width: 42px;
  }

  h3,
  .expertise-icons {
    margin-left: 0;
  }

  .launch-link {
    padding: 12px;
  }
  .links {
    max-width: 90%;
  }
}

@media (max-width: 768px) {
  .launch-link {
    display: block;
    width: 70%;
    margin: auto;
  }

  nav ul {
    text-align: center;
    padding: 30px 0;
  }

  .phone-img {
    width: 20%
  }
}
